# Ignorar dependencias locales, ya que se instalarán dentro del contenedor
node_modules
# Archivos de log
*.log
# Archivo de entorno local (se debe pasar al contenedor al ejecutarlo, no incluirlo en la imagen)
.env